/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

/* Mobile first */
.wrapper {
    min-height: 100vh;
    min-width: calc(100vw - (100vw - 100%));
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
}

.btn-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-container #btn {
    margin: 50px 0;
    padding: 15px 25px;
    background-color: #474747;
    border: #222;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.btn-container #btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.output-cointainer {
    width: 100%;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.output-cointainer h1 {
    color: #fff;
}

.output-cointainer #output {
    width: 80%;
    margin-top: 25px;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
}

/* Pakeitimai */
.post {
    width: 80%;
    background-color: #474747;
    color: #fff;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
    padding: 5px;
    box-shadow: 13px 10px 28px 0px rgba(0, 0, 0, 0.75);
}

.post img {
    width: 100%;
}

.post h3 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* -= Responsive =- */
@media screen and (min-width: 600px) {
    .output-cointainer #output {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .output-cointainer #output {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
